@page
@model Minuta.App.Frontend.Pages.ListModel
@{
}
<h1>Listado de Vehículos</h1><br>
<a asp-page="./Add" class="btn btn-primary">Agregar Vehículo</a><br>
<table class="table">
    <tr>
        <th>ID</th>
        <th>PLACA</th>
        <th>TIPO</th>
    </tr>
    @foreach (var vehiculo in Model.Vehiculos)
    {
        <tr>
            <td>@vehiculo.id</td>
            <td>@vehiculo.placa</td>
            <td>@vehiculo.tipoVehiculo</td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-vehiculoId="@vehiculo.id">
                <i class="fas fa-info-circle"></i>
                Detalle Vehiculo
                </a>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-vehiculoId="@vehiculo.id">
                <i class="fas fa-info-circle"></i>
                Editar
                </a>
                <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-vehiculoId="@vehiculo.id">
                <i class="fas fa-info-circle"></i>
                Eliminar
                </a>
            </td>
            
        </tr>
    }
</table>